.weather-app-wrapper {
max-width: 800px;
margin: 30px auto;
}

.weather-app {
margin: 30px auto;
padding: 20px;
border: 1px solid #fdf4f4;
border-radius: 5px;
background-color: #fdf4f4;
color: #061c2d;
}

.search-button {
background-color: #FFBBAC !important;
border: 1px solid #FFBBAC !important;
}

.search-button:hover {
background-color: #061c2d !important;
border: 1px solid #061c2d !important;
}

.location-button {
background-color: #061c2d !important;
border: 1px solid #061c2d !important;
}
    
.location-button:hover {
background-color: #FFBBAC !important;
border: 1px solid #FFBBAC !important;
}

h1 {
font-size: 26px;
}

li {
list-style: none;
text-align: end;
}

li::first-letter {
text-transform: capitalize;
}

p {
font-size: small;
margin-top: -10px;
}

a {
color:#FFBBAC;
font-size: small;
}

a:hover {
color: #061c2d;
}

.current-temperature {
font-size: 22px;
}

.units {
font-size: 22px;
}

.current-date {
font-weight: bold;
}

.active {
color: #061c2d;
cursor: default;
text-decoration: none;
}

.weather-search {
margin-top: 20px;
}

.weather-forecast {
margin-top:20px;
text-align:center;
}

.weather-forecast-date {
font-size: 16px;
}

.weather-forecast-temperature-min {
opacity: 0.5;
}

